/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8; /* Fundo mais claro */
    color: #343a40;
}

/* Section styles */
section {
    margin: 30px auto; /* Aumentar a margem */
    max-width: 1200px;
    padding: 30px; /* Aumentar o padding */
    background-color: #ffffff; /* Fundo branco */
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
}

/* Button styles */
.btn {
    border-radius: 25px; /* Bordas arredondadas nos botões */
    padding: 10px 20px; /* Aumentar padding dos botões */
    font-weight: bold; /* Negrito */
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Table styles */
.table {
    border-collapse: separate; /* Separar as bordas da tabela */
    border-spacing: 0 15px; /* Espaçamento entre as linhas */
    width: 100%;
    margin-top: 20px;
}

.table th, .table td {
    padding: 20px; /* Aumentar padding das células */
    text-align: center;
    border: 1px solid #dee2e6;
    border-radius: 10px; /* Bordas arredondadas nas células */
}

.table th {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 10px; /* Bordas arredondadas no cabeçalho */
    border-top-right-radius: 10px; 
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f8f9fa; /* Cor de fundo alternada */
}

/* Modal styles */
.modal-content {
    border-radius: 15px; /* Bordas arredondadas nos modais */
}

.modal-header {
    border-bottom: none;
}

/* Input styles */
.inputField div {
    margin-bottom: 20px; /* Aumentar separação entre os inputs */
}

input[type="text"], input[type="file"] {
    padding: 15px; /* Aumentar padding dos inputs */
    border: 1px solid #ced4da;
    border-radius: 10px; /* Bordas arredondadas nos inputs */
    width: 100%;
}

/* Search input styles */
#searchInput {
    width: 100%;
    margin-bottom: 20px; /* Aumentar margem inferior */
    padding: 15px; /* Aumentar padding do campo de busca */
    border: 1px solid #ced4da;
    border-radius: 10px; /* Bordas arredondadas */
    transition: border-color 0.3s;
}

#searchInput:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Responsive styles */
@media (max-width: 768px) {
    .table {
        font-size: 14px;
    }
}
